.btn-sair-marketing {
  position: absolute;
  top: 10px;
  left: 20px;
}

.fichaBoleto {
  background: linear-gradient(150deg, #494ba7 50%, #25BFB2 50%);
  min-height: max-content;
  padding: 400px;
}

.box-boleto {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.boletos-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.boleto-card {
  flex: 1 1 calc(25% - 15px); /* Inicialmente, 4 boletos por linha */
  max-width: calc(25% - 15px); 
  min-width: 200px; 
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.boletos-container.with-twelve .boleto-card p {
  font-size: 8px!important; /* Fonte menor para textos */
}

.boletos-container.with-twelve .boleto-card a {
  font-size: 8px!important;
}

.boletos-container.with-twelve .boleto-card button {
  font-size: 8px!important;
  padding: 5px 10px;
}
